parameters:
    mongo_host: mongo
    mongo_port: 27017
    mongo_user: null
    mongo_password: null
    mongo_database: devPro
    mongo_auth_database: null

    secret: someSecret

    rabbit_host: rabbit
    rabbit_port: 5672
    rabbit_user: admin
    rabbit_pass: admin

    url_for_parse: http://www.wordreference.com/synonyms/
